﻿body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    
    color: red;
    font-family: verdana;
    font-size: 20px;
}

h2, h3 {
    text-align: center;
    color: dodgerblue;
}

/* Os comentários são
    como no C#
*/ 