/* 04_Conceitos_Ex20 forms.css */

div {
position: absolute;
top: 150px;
left: 150px;
} 

div.estatica {
position: static;
border: 3px solid #8AC007;
padding: 5px;
}

p.fixo {
position: fixed;
top: 30px;
right: 5px;
}

h2.esquerdo {
position: relative;
left: -20px;
}
h2.direito {
position: relative;
left: 20px;
}

h2.absoluto {
position: absolute;
left: 100px;
top: 150px;
}