/* Crie os arquivos pratica05exercicio04.html, pratica05exercicio04.css e pratica05exercicio04.js.
4) Usando HTML, CSS e JS, escreva um algoritmo que leia um número maior ou igual a zero a partir
do teclado.O algoritmo deve apresentar no navegador todos os números pares maiores ou
iguais a zero e menores ou iguais ao número informado. */

html, body {
  font-size: 0.9rem;
  font-family: "Segoe UI", Verdana, Arial;
  /* height: 90%; */
}
main {
  margin: 2rem auto; 
  width: 32rem;
  height: 30rem;
}
h1 {
  align-self: center;
  color: royalblue;
  font-size: 2.1rem;
  line-height: 2.3rem;
}
h2 {
  align-self: center;
  color: royalblue;
  font-size: 1rem;
}
.numero, .resultado {
  background-color: khaki;
  height: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.resultado {
  background-color: royalblue;
  color: gainsboro;
  font-weight: bold;
  text-align: justify;
  height: auto; 
}
input {
  text-align: right;
}