/* pratica03exercicio03.css. */
/* Identificadores CSS: são declarados com o HashTag antes do nome */
#observacao, #soma, #subtracao, #multiplicacao, #divisao, #resto {
  font-size: 1.5rem;
  font-family: Verdana;
  padding: 1rem;
  background-color: #ffea66;
}
#observacao{
  font-size: small;
  color: darkslategray;
}
#soma {
  color: green;
}
#subtracao {
  color: red;
}
#multiplicacao {
  color: blue;
}
#divisao {
  color: violet;
}
#resto {
  color: orange;
}
/* Classe CSS: é declarada com um ponto antes do nome */
.numero {
  font-size: 1.5rem;
  font-family: Verdana;
  padding: 1rem;
  color: #a0a0a0;
  background-color: #515151;
}