/* Crie os arquivos pratica05exercicio05.html, pratica05exercicio05.css e pratica05exercicio05.js.
5) Usando HTML, CSS e JS, escreva um algoritmo que leia dois números positivos e maiores que
zero a partir do teclado.O algoritmo deve apresentar como resposta o logaritmo do primeiro
número na base representada pelo segundo número.
  OBS: Usar: Math.log() log base b(x) = log base a(x) / log base a(b) */

  
html, body {
  font-size: 0.9rem;
  font-family: "Segoe UI", Verdana, Arial;
  /* height: 90%; */
}
main {
  margin: 2rem auto; 
  width: 32rem;
  height: 30rem;
}
h1 {
  align-self: center;
  color: black;
  font-size: 2.1rem;
  line-height: 2.3rem;
}
h2 {
  align-self: center;
  color: black;
  font-size: 1rem;
}
.numero, .resultado {
  background-color: khaki;
  height: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.resultado {
  background-color: black;
  color: khaki;
  font-weight: bold;
  text-align: justify;
  height: auto; 
}
input {
  text-align: right;
}