/* Crie os arquivos pratica05exercicio06.html, pratica05exercicio06.css e pratica05exercicio06.js.
6) Usando HTML, CSS e JS, escreva um algoritmo que leia o código de uma operação a partir o */
html, body {
  font-size: 0.9rem;
  font-family: "Segoe UI", Verdana, Arial;
  /* height: 90%; */
}
main {
  margin: 2rem auto; 
  width: 32rem;
  height: 30rem;
}
h1 {
  align-self: center;
  color: rgb(75, 35, 35);
  font-size: 2.1rem;
  line-height: 2.3rem;
}
h2 {
  align-self: center;
  color: black;
  font-size: 1rem;
}
.numero, .resultado {
  background-color: khaki;
  height: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;
  height: auto; 
}
.resultado {
  background-color:  rgb(75, 35, 35);
  color: khaki;
  font-weight: bold;
  text-align: justify;
  height: auto; 
}
input {
  text-align: right;
}