html, body {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Segoe UI", Verdana, Arial;
  height: 30%; 
}
main {
  text-align: center;
  height: auto;
}
h1 {
  text-align: center;
  color: black;
  font-size: 2.1rem;
  line-height: 2.3rem;
}
li {
  text-align: center;
  color: midnightblue;
  background-color: silver;
  font-size: 1rem;
  line-height: 1.3rem;
}
h2 {
  color: black;
  font-size: 1rem;
}
.resposta {
  text-align: center;
  background-color: khaki;
  font-size: 1rem;
  height: auto;
}
.nota {
  text-align: center;
  background-color: black;
  color: khaki;
  font-size: 0.8rem;
  height: auto; 

}
input {
  text-align: right;
}