body {
  background-color: gray;
  text-align: justify;
  font-size: 0.9rem;
  font-family: "Segoe UI", Verdana, Arial;
  height: 30%; 

}

.resp {
  text-align: justify;
  background-color: khaki;
  font-size: 1rem;
  height: auto;
}