html, body {
  font-size: 0.9rem;
  font-family: "Segoe UI", Verdana, Arial;
  height: 90%;
}
main {
  margin: 2rem auto; 
  width: 32rem;
  height: 30rem;
  padding: 5%;
  font-weight: bold;
  color: white;
  background-color: darkred;
}
h1 {
  align-self: center;
  color: rgb(75, 35, 35);
  font-size: 2.1rem;
  line-height: 2.3rem;
}
h2 {
  align-self: center;
  color: black;
  font-size: 1rem;
}
.numero, .resposta {
  background-color: khaki;
  height: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;
  height: auto; 
}
.resposta {
  background-color: black;
  color: khaki;
  font-weight: bold;
  text-align: justify;
  height: auto; 
}
input {
  text-align: right;
}