/* pratica07exercicio02.html, pratica07exercicio02.css, pratica07exercicio02.js. */
thead {
  background-color: #285188;
  padding: 0.3rem;
  font-size: 0.7rem;
  color: rgb(73, 71, 71);
  font-family: "Segoe UI", Verdana, Arial;
  font-weight: bold; 
}
tbody {
  color: #414241;
  font-size: 0.7rem;
  font-family: "Segoe UI", Verdana, Arial; 
}
tfoot {
  background-color: #FF4500;
  color: white;
  font-size: 0.7rem;
  font-family: "Segoe UI", Verdana, Arial; 
}
td {
  padding: 0.2rem;
  text-align: center;
}
col #coluna2 {
  text-align: left;   
}
tr:nth-child(even) {
  background-color: #8b9dc3;
}
tr:nth-child(odd) {
  background-color: #dfe3ee;
}
tr:hover {
  background-color: #ffffff;
  color: #FF4500;
  font-size: 0.7rem;
}
#tabelaDisciplinas tr td{
  border: 0.1pc;
  border-color: #285188;
  cursor: pointer;
}
.mediaDaDisciplina {
  background-color: orangered;
  color: white;
  text-align: left;
}
.disciplina {
  text-align : left;
  vertical-align: top;
  color: #285188;
  font-weight: bold;
  font-size: 1.0rem;
}
col th {
  color: orangered;
  font-weight: bold;
  font-size: 0.7rem;
}
#coluna1 {
  width: 200px;
}
#coluna1:hover {
  background-color: orangered;
  color: white;
}