/* Crie os arquivos pratica05exercicio03.html, pratica05exercicio03.css e pratica05exercicio03.js.
3) Usando HTML, CSS e JS, escreva um algoritmo que leia um número a partir do teclado.O
algoritmo deve informar se o número lido é par ou ímpar. */
html, body {
  font-size: 0.9rem;
  font-family: "Segoe UI", Verdana, Arial;
  height: 90%;
}
main {
  margin: 2rem auto; 
  width: 32rem;
  height: 30rem;
}
h1 {
  align-self: center;
  color: royalblue;
  font-size: 2.1rem;
  line-height: 2.3rem;
}
h2 {
  align-self: center;
  color: royalblue;
  font-size: 1rem;
}
.numero, .resultado {
  background-color: greenyellow;
  height: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.resultado {
  background-color: royalblue;
  color: gainsboro;
  font-weight: bold;
  text-align: center;
}
input {
  text-align: right;
}