/* pratica07exercicio01.html, pratica07exercicio01.css, pratica07exercicio01.js. */
thead {
  background-color: #285188;
  padding: 0.3rem;
  font-size: 1.0rem;
  color: rgb(73, 71, 71);
  font-family: "Segoe UI", Verdana, Arial;
  font-weight: bold; 
}
tbody {
  color: #414241;
  font-size: 0.7rem;
  font-family: "Segoe UI", Verdana, Arial; 
}
tfoot {
  background-color: #FF4500;
  color: white;
  font-size: 0.7rem;
  font-family: "Segoe UI", Verdana, Arial; 
}
td{
  padding: 0.2rem;
  text-align: right;
}
tr:nth-child(even) {
  background-color: #8b9dc3;
}
tr:nth-child(odd) {
  background-color: #dfe3ee;
}
tr:hover {
  background-color: #ffffff;
  color: #FF4500;
  font-weight: bold;
  font-size: 1.0rem;
}
#tabelaNotas tr td{
  border: 0.1pc;
  border-color: #285188;
  cursor: pointer;
}
.nome #resultado {
  text-align: left;
}