/* pratica05exercicio02.html, pratica05exercicio02.css e pratica05exercicio02.js */

/* pratica05exercicio02.css */
html, body {
  font-size: 0.9rem;
  font-family: "Segoe UI", Verdana, Arial;
  height: 90%;
}
main {
  margin: 2rem auto; 
/* 
O primeiro valor será atribuído às margens superior e inferior.
O segundo valor será atribuído às margens direita e esquerda.
A palavra 'auto' indica que o valor deve ser calculado automaticamente.
*/
  width: 32rem;
  height: 30rem;
}
h1 {
  color: royalblue;
  font-size: 2.7rem;
}
.numero, .resultado {
  background-color: greenyellow;
  height: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.resultado {
  background-color: royalblue;
  color: gainsboro;
  font-weight: bold;
  text-align: center;
}
input {
  text-align: right;
}