/* pratica03exercicio01.css. */
/*Identificador CSS e Entrada e Saída em JS: prompt () e document.write ()*/
/* Identificador CSS. */
#titulo {
  color: orangered;
  font-size: 4rem;
  font-family: Verdana;
}